<?xml version="1.0" encoding="utf-8"?>
<security>
  
<services>
  <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web" />
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304" />
        <setting key="Timeout" value="30000" />
        <setting key="Protocol" value="http" />
      </settings>
      <whitelist>
      </whitelist>
    </service>

  <!--<service prefix="media/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
    <settings>
      <setting key="MaxBytes" value="8194304"/>
      <setting key="Timeout" value="30000"/>
      <setting key="Host" value="https://staginghp.s3.ap-south-1.amazonaws.com"/>
    </settings>
  </service>-->
  </services>
</security>