@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{

	var contentMenu = Umbraco?.ContentAtRoot()?.Where(x => x.ContentType.Alias == "home")?.FirstOrDefault()?.DescendantsOrSelf()?
						.Where(x => x.ContentType.Alias == "specialPlanRoot").OfType<SpecialPlanRoot>().FirstOrDefault();

	string culture = HPPlc.Models.CultureName.GetCultureName();
	culture = culture == "/" ? String.Empty : culture;
}

@if (contentMenu != null && contentMenu.ContentMenuItems.Any())
{
	<ul class="navigations">
		@foreach (var menu in contentMenu.ContentMenuItems.Where(x => x.IsActive))
		{
			<li class="@menu.ContentFestive"><a href="@(menu?.ContentItem?.Url)" class="">@menu.ContentItem.Name</a></li>
		}
	</ul>
}
