@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
	
}

<div class="addmore-row">
	<div class="addmore">
		<div class="hd-coupon">Available Coupons</div>
		<div class="coupon-option">
			
					<b>Renew20 - </b> Get 20% discount on all plans.
				
		</div>

	</div>

</div>
