@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MembersSpeak>
@using ContentModels = Umbraco.Web.PublishedModels;

@*<div class="container-fluid mmbrSpk">
    <div class="container-box">
        <div class="container-inr">
            <div class="top-texts">
                <h4 class="title-plc">@Model.Title</h4>
                <p class="sbtitle-plc">@Model.Description</p>
            </div>
            <div class="mmbrSPk-slidrMn">
                <div class="mmbrSPk-slidr">
                    @foreach (MembersSpeakPanelItems item in Model?.MembersItems)
                    {
                    <div class="sldItm">
                        <div class="membersays">
                            <div class="membersaysin">
                                <div class="mmbr-img"><div class="mmbr-imgin"><img src="@(item.Image?.Url())" alt=""></div></div>
                                <div class="mmbr-cont">
                                    <div class="mmbruin-cont">
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="bottom-sign">Mother - Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@
