<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--<handlers>
      <clear />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>-->

    <handlers>
      <clear />
      <add name="StaticFileHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />


      <!--<add name="StaticFileHandler" path="*.pdf" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add
          name="StaticFile"
          path="*" verb="*"
          modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
          resourceType="Either"
          requireAccess="Read" />
      <add name="jpgImages" path="*.jpg" verb="*" type="System.Web.StaticFileHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Either" requireAccess="Script" allowPathInfo="true" preCondition="integratedMode" />-->
    </handlers>
  </system.webServer>
</configuration>
