<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>HP PLC</title>
<meta name="description" content="HP">
<meta name="author" content="HP">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<style type="text/css">
@media only screen and (max-width:599px) {
#Table_01 {
    width: 97% !important;
}
}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01" width="600" style="background:#ffffff;  border:#d8d8d8 1px solid;">
  <tr>
    <td align="left" valign="top" style="padding:20px 20px 3px 20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif, Calibri; font-size:16px; color:#000000; line-height:24px;">
	<tr>
		<td align="left" valign="top"><strong>Hello {name},</strong></td>
	</tr>
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td align="left" valign="top">Congratulations! Your <strong> {subscriptionplan} </strong> premium subscription has been activated. This subscription includes: </td>
	</tr>
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td align="left" valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif, Calibri; font-size:16px; color:#000000; line-height:24px;">
				<tbody>
					{SubscriptionDetails}
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td height="15">Click on this link to view transaction invoice - {invoiceno}</td>
	</tr>
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td height="15">Your transaction id is - {transactionid}</td>
	</tr>
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td align="left" valign="top">Login to <a href="https://www.printlearncenter.com/" target="_blank" style="color: #00b3e3; text-decoration: none;">www.printlearncenter.com</a> to access learning modules and share it with your friends and family to help them learn.</td>
	</tr>
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td align="left" valign="top">
			Thanks,<br>
			Print Learn Center
		</td>
	</tr>
	<tr>
		<td align="left" valign="middle">&nbsp;</td>
	</tr>
</table></td>
  </tr>
</table>
</body>
</html>