<?xml version="1.0"?>
<FileSystemProviders>
  <Provider alias="media" type="Umbraco.Storage.S3.BucketFileSystem, Umbraco.Storage.S3">
    <Parameters>
      <!-- S3 Bucket Name -->
      <add key="bucketName" value="hp-digitas-learn-new" />
      <!-- S3 Bucket Hostname - Used for storage in umbraco's database (Should be blank when using Virtual File Provider) -->
      <add key="bucketHostName" value="" />
      <!-- S3 Object Key Prefix - What should we prefix keys with? -->
      <add key="bucketKeyPrefix" value="media" />
      <!-- AWS Region Endpoint (us-east-1/us-west-1/ap-southeast-2) Important to get right otherwise all API requests will return a 30x response -->
      <add key="region" value="ap-south-1" />
      <!-- S3 Canned ACL - Sets permissions for uploaded files. Defaults to public-read if the key is omitted or the value is invalid. -->
      <!--<add key="cannedACL" value="public-read" />-->
      <!--<add key="cannedACL" value="bucket-owner-full-control" />-->
      <add key="cannedACL" value="private-read" />
      <!-- S3 ServerSide Encryption Method - Enable encryption on files/folders. Defaults to None if the key is omitted or the value is invalid. -->
      <add key="serverSideEncryptionMethod" value="" />
    </Parameters>
  </Provider>
</FileSystemProviders>
